body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

.one {
    margin: 0 30px;
}

.main-container {
    max-width: 1195px;  /* width က 1195px ရှိရင် ရှိသလောက်ထားပါ၊ မရှိရင် screen width အတိုင်းယူ*/
    margin: 0 auto;
}

/* header */

.main-header {
    position: sticky;
    top: 0;
    z-index: 3;
    opacity: 0.95;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
    margin: 0 30px;
}

.header-child {
    max-width: 1195px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header-child img {
    width: 40px;
}

.menu-item {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.menu-item:hover {
    border-bottom: 3px solid #0084ff;
}

.menu-bar {
    font-size: 30px;
    display: none;
    color: rgba(0, 0, 0, 0.6);
}

/* container */

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    z-index: -9;
}

.left {
    width: 50%;
}

.left-child {
    width: 75%;
}

.left h1 {
    font-size: 70px;
    font-weight: 550;
    margin-bottom: 35px;
    line-height: 80px;
    word-break: break-word;
    background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
    background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    -webkit-background-clip: text;
    color: transparent;
}

.left-content {
    margin-bottom: 40px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 450;
}

.input-element {
    box-sizing: border-box;
    width: 320px;
    display: block;
    outline: none;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 12px;
    font-size: 17px;
    padding: 7px 16px;
    border-radius: 10px;
}

.input-element:focus {
    border: 1px solid #0084ff;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.btn-gp {
    margin-top: 35px;
    margin-bottom: 35px;
}

button {
    height: 45px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 24px;
    background-color: #0084ff;
    border: 1px solid #0084ff;
    color: #fff;
    padding: 4px 20px;
    margin-right: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #14a2e4;
}

.forgot-psw {
    color: #0084ff;
    font-size: 13px;
    font-weight: 550;
}

.keep-signIn-block {
    margin-bottom: 35px;
}


.keep-signIn {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.microsoft {
    height: 44px;
}

.store {
    text-decoration: none;
}

.right {
    width: 50%;
}

.right img {
    width: 100%;
    margin-top: 48px;
    margin-left: 30px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.meta {
    font-weight: 500;
}

.data-terms {
    display: flex;
    justify-content: space-between;
}

.data-terms a {
    text-decoration: none;
}

.lang {
    color: rgba(0, 0, 0, 0.5);
}

.lang a{
    text-decoration: none;
}

.fot-pad {
    padding: 0 30px;
}

/* Media queries */

@media (max-width: 1012px) {
    /* container */

    .container {
        max-width: 440px;
        margin: 0 auto;
    }

    .left, .right {
        width: 100%;
    }

    .left h1 {
        font-size: 50px;
        text-align: center;
        line-height: normal;
        margin-bottom: 25px;
    }

    .left-child {
        width: 100%;
    }

    .left-content {
        text-align: center;
    }

    .input-element {
        width: 100%;
    }

    .right {
        margin-right: 28px;
    }
    
    /* footer */
    .footer {
        display: block;
        text-align: center;
        margin-top: 55px;
        font-size: 12px;

    }

    .footer div {
        margin-bottom: 20px;
    }

    .footer-content {
        padding: 0;
    }

    .data-terms {
        display: flex;
        justify-content: center;
    }

    .fot-pad {
        padding: 0;
    }

    .policy {
        padding-right: 30px;
    }
}

@media (max-width: 768px) {

    .input-element {
        width: 100%;
    }

    .container {
        margin-top: 50px;
    }

    .left h1, .left-content {
        text-align: left;
    }

    .left h1 {
        padding-left: 10px;
    }

    .menu-item {
        display: none;
    }

    .menu-bar {
        display: inline-block;
    }
}